---
// Split-pane layout: sticky left column, scrolling right column
---

<div class="split-pane">
  <div class="split-left">
    <slot name="left" />
  </div>
  <div class="split-right">
    <slot name="right" />
  </div>
</div>

<style>
  .split-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-8);
    min-height: calc(100vh - 120px);
  }

  .split-left {
    position: sticky;
    top: calc(49px + var(--space-8));
    align-self: start;
  }

  .split-right {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  @media (max-width: 768px) {
    .split-pane {
      grid-template-columns: 1fr;
      gap: var(--space-8);
    }

    .split-left {
      position: static;
    }
  }
</style>
